{% comment %} {% load cart_template_tags %} {% endcomment %}
{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<a class="navbar-brand" href="/"
					><img
						class="d-inline-block align-text-center"
						src="{% static 'img/elephants.jpg' %}"
						alt="Elephant Logo"
						width="40"
						height="40"
					/>DjoloWin</a
				>
				<button
					class="navbar-toggler"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent"
					aria-expanded="false"
					aria-label="Toggle navigation"
				>
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item dropdown">
							<a
								class="nav-link dropdown-toggle"
								href="#"
								role="button"
								data-bs-toggle="dropdown"
								aria-expanded="false"
							>
								<i class="fa fa-user"></i>My Profile</a
							>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="#">My Squad</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="#">My Portfolio</a>
								<a class="dropdown-item" href="#">My Wallet</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a
								class="nav-link dropdown-toggle"
								href="#"
								role="button"
								data-bs-toggle="dropdown"
								aria-expanded="false"
							>
								Marketplace
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="#">Auctions</a>
								<a class="dropdown-item" href="#">Bundles</a>
								<a class="dropdown-item" href="#">Special Offers</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a
								class="nav-link dropdown-toggle"
								href="#"
								role="button"
								data-bs-toggle="dropdown"
								aria-expanded="false"
							>
								Settings
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="#">Preferences</a>
								<a class="dropdown-item" href="#">Public Profile</a>
								<a class="dropdown-item" href="#">Account Settings</a>
								<a class="dropdown-item" href="#">Security</a>
								<a class="dropdown-item" href="#">Payment Methods</a>
							</div>
						</li>
						<li>
							<a href="#" class="nav-link"
								><i class="fa fa-fw fa-bell"></i>Notification Center</a
							>
						</li>
						<li>
							<a href="{% url 'logout' %}" class="nav-link"
								><i class="fa fa-fw fa-power-off"></i>Log Out</a
							>
						</li>
						<li>
							<a href="{% url 'login' %}" class="nav-link"
								><i class="fa fa-fw fa-power-in"></i>Log In</a
							>
						</li>
					</ul>
					<form class="d-flex" role="search">
						<input
							class="form-control me-2"
							type="search"
							placeholder="Search"
							aria-label="Search"
						/>
						<button class="btn btn-outline-success" type="submit">
							Search
						</button>
					</form>
				</div>
			</nav>