{% extends "main.html" %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'base/css/home.css/' %}" />

<main>
	<h1>Welcome <strong>{{ user.username }}</strong></h1>
	<div class="card-container">
	<h4>New cards for sale</h4>
	<button class=""></button>
	<section class="card-list">
		{% for playercard in playercards %}
		<article class="card">
			<header class="card-header">
					<a class="team-name" href="{{ playercard.get_absolute_url }}"
						><h2>{{ playercard.player.name }}</h2></a>
			</header>
			<div class="card-body">
					<a class="player-avatar" href="#"><img
						src="https://picsum.photos/200/200"
						alt="exposed brick wall in a hipster cafe"
						class="img-fluid"
					/></a>
					<h6 class="card-text text-center">
						Index:{{ playercard.index }}
						<br />
						Rarity: {{ playercard.rarity }}
						<br />
						Age: {{ playercard.player.date_of_birth }}
						<br />
						Country: {{ playercard.player.country.name }}
					</h6>
				<button type="button" class="buy-button">Buy it! 250CFA
					<span class="badge"></span>
				</button>
			</div>
		</article>
		{% endfor %}
		</div>
	</section>
</main>

{% endblock content %}
