{% extends "main.html" %} {% block content %}
<h1 style="color: #000; font-size: 20px">{{ object.player.name }}
    <br/> 
    Rarity:{{ object.rarity.name }}
    <br/> 
    Index:{{ object.index }}
    <br/> 
    Team: {{ object.player.team.country.name }}
    <br/> 
    Year: {{ object.player.team.year }}

</h1>

<div class="col">
					<div class="card border-secondary mb-3" style="width: 18rem">
						<img
							src="https://picsum.photos/200/300"
							alt="exposed brick wall in a hipster cafe"
							class="img-fluid"
						/>
						<div class="card-body">
							<h4 class="card-title">
								<a class="player-name" href="{{ object.get_absolute_url }}"
									>{{ object.player.name }}</a
								>
							</h4>
							<h6 class="card-text">
								Index:{{ object.index }} of {{ cardfilter }} ---- Age: {{ object.player.date_of_birth }}
								<br />
								Country of Origin: {{ object.player.country.name }}
							</h6>
						</div>
						<button type="button" class="btn btn-outline-success">Buy it! 250CFA
							<span class="badge text-bg-secondary"></span>
						</button>
					</div>
				</div>

{% endblock content %}
